// Basic color names

$grey-200: #F2F2F2;
$grey-400: #D8D8D8;
$grey-500: #878787;
$grey-600: #585858;
$grey-700: #4B4849;
$grey-800: #282627;

// Generic color names
$primary: #8F2DF5;
$primary-hover: #7224c5;

// Specific color names
$title-grey: $grey-800;
$text-grey: $grey-600;
$link: $primary;