@import '../../../styles/colors';
@import '../../../styles/layout';

#amounts-container {
    border: 1px solid $grey-400;
    border-radius: 8px;
    padding: 15px;

    .amount-item {
        display: flex;
        color: $grey-600;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        .item-price {
            margin-left: auto;
        }
    }

    #amount-total {
        top: 16px;
        transition: top .5s;

        .amount-item {
            color: $primary;

            .item-name {
                font-size: 16px;
                line-height: 19px;
            }
    
            .item-price {
                font-size: 20px;
                line-height: 22px;
            }
        }

        &.fixedTop {
            position: fixed;
            top: 50px;
            left: 0;
            right: 0;
            padding: 6px 35px;
            background: white;
            z-index: 10;
            box-shadow: 0px -3px 12px 0px black;

            .amount-item {
                margin: 0 auto;
                max-width: $max-widht-page-checkout - 35px;
            }
        }
    }

    #amounts-items {
        margin-top: 6px;

        .amount-item {
            margin-top: 3px;
        }
    }
}
